body, html {
  box-sizing: border-box;
  height: 100%;
  min-height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

.container {
  max-width: 1140px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.first-page {
  height: 100%;
  position: relative;
}

form {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

form input:first-child {
  border: 0px solid;
  width: 75%;
  font-size: 7.5em;
  text-align: center;
  font-family: 'Bungee Shade', cursive;
  margin-bottom: 1%;
}

/* ---------- buttons ------------ */
.button {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5em;
  border-radius: 20px;
  display: block;
  margin: 10px auto;
  cursor: pointer;
  letter-spacing: 7px;
  text-align: center;
}

.button:hover {
  transform: scale(1.2);
}

.white-button {
  color: black;
  border: 2px solid black;
  transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
  background-color: white;
  padding: .2em 1.1em .2em 1.6em;
}

.white-button:hover {
  color: white;
  background-color: black;
  transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
}

.black-button {
  color: white;
  border: 2px solid white;
  transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
  background-color: black;
  padding: .2em 2.4em .2em 3em;
}

.black-button:hover, .gif > button:hover {
  color: black;
  background-color: white;
  transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
}

.gif > button {
  position: absolute;
  z-index: 1;
  color: white;
  width: 400px;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  border: none;
  transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
  background-color: inherit;
  padding: 4px 30px;
  cursor: pointer;
}

.gif > button:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 20px 20px 0 0;
  transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
}

.raptor {
  background: url(images/preggo-dino.gif) no-repeat;
  width: 150px;
  height: 150px;
  border: 0px solid;
  transform: scale(.45);
  cursor: pointer;
}

.raptor:hover {
  -webkit-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  -ms-animation: spin 1s infinite linear;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg);}
  100% { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin {
  0% { -moz-transform: rotate(0deg);}
  100% { -moz-transform: rotate(360deg);}
}
@-o-keyframes spin {
  0% { -o-transform: rotate(0deg);}
  100% { -o-transform: rotate(360deg);}
}
@-ms-keyframes spin {
  0% { -ms-transform: rotate(0deg);}
  100% { -ms-transform: rotate(360deg);}
}

.definition p:first-child {
  position: relative;
  font-size:7em;
  font-family: 'Bungee Shade', cursive;
  z-index: 2;
}

.second-page {
  max-height: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0 10%;
}

.second-page:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.definition {
  text-align: right;
  float: left;
  width: calc((100% - 20px*2)/2);
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Quicksand', sans-serif;
}

.gif {
  float: right;
  overflow: hidden;
  width: calc((100% - 20px*2)/2);
  margin: 25px 10px 0;
  z-index: -1;
}

img {
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 20px;
}

/* ---------- media queries ------------ */
/*iphone 5*/
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    form input:first-child {
      font-size: 60px;
    }
    .button {
      font-size: 16px;
    }
    .black-button {
      padding: .2em 2.7em .2em 3.2em;
    }
    .raptor-nav {
      text-align: center;
      height: 100px;
    }
    .raptor {
      transform: scale(.35);
    }
    .definition p:first-child {
      text-align: center;
      font-size: 40px;
      font-family: 'Bungee Shade', cursive;
    }
    .definition p {
      text-align: center;
      font-size: 12px;
    }
    .second-page {
      text-align: center;
    }
    .definition {
      text-align: center;
      width: calc((100% - 50px));
      margin-left: 25px;
      margin-right: 25px;
    }
    .gif {
      width: calc((100% - 20px));
      margin-left: 10px;
      margin-right: 10px;
    }
    .gif > button {
      width: 250px;
    }
    img {
      width: 250px;
      height: 250px;
    }
}

/*iphone 6*/
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
  form input:first-child {
    font-size: 70px;
  }
  .raptor-nav {
    text-align: center;
    height: 120px;
  }
  .definition p:first-child {
    text-align: center;
    font-size: 40px;
    font-family: 'Bungee Shade', cursive;
  }
  .definition p {
    text-align: center;
    font-size: 12px;
  }
  .second-page {
    text-align: center;
  }
  .definition {
    text-align: center;
    width: calc((100% - 50px));
    margin-left: 25px;
    margin-right: 25px;
  }
  .gif {
    width: calc((100% - 20px));
    margin-left: 10px;
    margin-right: 10px;
  }
  .gif > button {
    width: 300px;
  }
  img {
    width: 300px;
    height: 300px;
  }
}

/* iphone 6+ landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
  form input:first-child {
    font-size: 90px;
  }
  .button {
    font-size: 20px;
  }
  .raptor-nav {
    text-align: center;
    height: 120px;
  }
  .definition p:first-child {
    text-align: center;
    font-size: 100px;
    font-family: 'Bungee Shade', cursive;
  }
  .definition p {
    text-align: center;
    font-size: 16px;
  }
  .second-page {
    text-align: center;
  }
  .definition {
    text-align: center;
    width: calc((100% - 100px));
    margin-left: 50px;
    margin-right: 50px;
  }
  .gif {
    width: calc((100% - 20px));
    margin-left: 10px;
    margin-right: 10px;
  }
}

/*ipad*/
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {
  .definition p:first-child {
    text-align: center;
    font-family: 'Bungee Shade', cursive;
  }
  .second-page {
    text-align: center;
  }
  .definition {
    text-align: center;
    width: calc((100% - 140px));
    margin-left: 70px;
    margin-right: 70px;
  }
  .gif {
    width: calc((100% - 20px));
    margin-left: 10px;
    margin-right: 10px;
  }
  .raptor-nav {
    height: 120px;
  }
}
