form {
  text-align: center;
}

.input {
  padding-top: 200px;
  border: 0px solid;
  height: 120px;
  width: 1200px;
  font-size:120px;
  text-align: center;
  font-family: 'Bungee Shade', cursive;
}



#display {
  width: 33.33%;
  height: 500px;
  /*line-height: 500px;*/
  /*padding: 40px;*/
  float: left;
  padding-left: 40px;
  padding-top: 100px;

}

#definition {
  font-size: 17px;
  font-family: 'Quicksand', sans-serif;
  float: left;
  vertical-align: middle;
}

#search {
  font-size:100px;
  font-family: 'Bungee Shade', cursive;
  float: left;
  text-align: right;
  width: 70%;
  vertical-align: middle;

}
#gifcontainer {
  width: 66.66%;
  height: 500px;
  float: right;
  line-height: 500px;
  padding-right: 40px;
  padding-top: 100px;
  vertical-align: middle;
  position: absolute;
  /*top: 50%;*/
  transform: translateX(30%);
  /*display: inline-block;*/


}

#gif {
  /*padding-top: 100px*/
  /*width: 70%;*/
  float: right;
  /*vertical-align: middle;*/
  /*margin-left: 50px;*/
  /*transform: translate(-10%, 50%);*/
/*margin-top: auto;*/
/*padding-bottom: 80%;*/
/*position: relative;
top: 50%;*/
transform: translateY(0%, -50%);
}

img {
  /*position: absolute;*/
  /*transform: translate(-10%, -50%);*/
  float: right;
  width:  500px;
  max-height: 525px;
  border: 0px solid;
  border-color: #454545;
  border-radius: 25px;

  vertical-align: middle;
  /*padding-bottom: 40%;*/


  /*align-self: center;*/
}

ul {
  list-style-type: none;
}

.submit {
  color: black;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 20px;
  transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
  background-color: white;
  padding: 4px 30px;
}

.submit:hover {
  color: white;
  background-color: black;
  transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
}

*:focus {
  outline: none;
}
